*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height:100%;
}
#view-wraper{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
#tree-container{
    /* padding:50px; */
    width: 100%;
    height: 100%;
}
#tree-container ul{
    list-style-type: none;
}
#tree li{
    
clear: both;
}
.node-content .node-icon{
    float: left;
}
.node-content .display-text{
    float: left;

}
ul[name='children-container']{
    clear: both;
    margin-left: 35px;
    padding: 13px 20px 35px 0px;
}
.header-icon{
    float: left;
}
.node-content{
    float: left;
    display: flex;
}
ul[name='children-container'] li:first-child{
    margin-bottom: 27px;
}
ul[name='children-container'] li:last-child{
    margin-bottom: 0px;
}
.node-checkbox{
    margin-right: 10px;
}
.node-icon{
    margin-right: 10px;
}
.display-text{
    margin-right:20px;
}
.info{
    margin-right:20px;
    color: #b2c1c1;
}
.input{

}